<ion-header-bar align-title="left" class="main-header">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header" ng-if="wish">
    <div class="list">

      <div class="item item-avatar">
        <!-- <img src="mcfly.jpg"> -->
        <h2 ng-bind="wish.name">Marty McFly</h2>
        <p ng-bind="wish.short_description">November 05, 1955</p>
        <p><i class="ion-android-time padding"></i><span ng-bind="wish.createdAt | timeAgo">November 05, 1955</span></p>
      </div>

      <div class="item item-body">
        <!-- <img class="full-image" src="delorean.jpg"> -->
        <p ng-bind="wish.long_description">
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <!-- <p>
          <a href="" class="subdued">1 Like</a>
          <a href="" class="subdued">5 Comments</a>
        </p> -->
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a ng-disabled="wish.is_downvoted" class="tab-item" href="" ng-click="toggleWishUpvote()">
          <i ng-class="{'blue-col': wish.is_upvoted}" ng class="icon ion-thumbsup"></i>
          <span ng-bind="wish.upvotes"></span>
        </a>
        <a ng-disabled="wish.is_upvoted" class="tab-item" href="" ng-click="toggleWishDownvote()">
          <i ng-class="{'blue-col': wish.is_downvoted}" class="icon ion-thumbsdown"></i>
          <span ng-bind="wish.downvotes"></span>
        </a>
        <a class="tab-item" href="" ng-click="toggleWishBookmark()">
          <i ng-class="{'blue-col': wish.is_bookmarked}" class="icon ion-bookmark"></i>
          Bookmark
        </a>
      </div>


      <div class="list">
        <div class="item item-input-inset">
          <button class="button button-block optimus-color optimus-font" ng-click="suggestApp()">
            Suggest an app
          </button>
        </div>
      </div>

      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input ng-model="comment.text" type="text" placeholder="Comment here...">
          </label>
          <button class="button button-small" ng-disabled="comment.text.length === 0" ng-click="addComment()">
            Post
          </button>
        </div>
      </div>

      <div class="card" ng-repeat="comment in comments">
        <div class="item item-avatar">
          <img src="/img/avatar.jpg">
          <h2 ng-bind="comment.user_id | limitTo: 5">Pretty Hate Machine</h2>
          <p ng-bind="comment.comment">Nine Inch Nails</p>
          <p ng-bind="comment.createdAt | timeAgo">Nine Inch Nails</p>
        </div>
      </div>
      <div class="card" ng-if="comments.length === 0">
        <div class="item item-text-wrap">
          No comments
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
