<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
<div class="card" ng-repeat="wish in wishes" ng-click="gotoWishDetail(wish.id)">
  <div class="item item-text-wrap" ng-bind="wish.name">

  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="" ng-click="toggleWishUpvote(wish._id)">
      <i class="icon ion-thumbsup"></i>
      <span ng-bind="wish.upvotes"></span>
    </a>
    <a class="tab-item" href="" ng-click="toggleWishDownvote(wish._id)">
      <i class="icon ion-thumbsdown"></i>
      <span ng-bind="wish.downvotes"></span>
    </a>
    <a class="tab-item" href="" ng-click="toggleWishBookmark(wish._id)" >
      <i class="icon ion-bookmark"></i>
      Bookmark
    </a>
  </div>
</div>
