/* Empty. Add your own CSS if you like */
.blue-col {
  color:#0c63ee;
}

/*Optimus Main Color*/
.optimus-color {
  background:#2B3745;
}

.optimus-font {
  color: #fff;
}


.main-header {
  background:#2B3745;
}
.main-header button{
  color: #fff;
}


/*Sidemenu CSS Start*/

.main-sidemenu {
  background-color: #2B3745;
  color: #fff;
}

.profile-pic {
  height: 160px;
  background: #2B3745;
}

.user-img {
  width: 100px;
  height: 100px;
  background: #ddd;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.user-img img{
  width: 95px;
  height: 95px;
  border-radius: 100%;
}

.user-name {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
}


.sidemenu-list {
  color:#fff;
}

.sidemenu-list a:nth-child(odd){
  background-color: #303D4D;
}

.sidemenu-list a:nth-child(even){
  background-color: #2B3745
}
.sidemenu-list .item{
  border:none;
}
.sidemenu-list .item:active{
  background-color: #2296F3;
}
/*Sidemenu CSS End*/



/*Make a Wish*/

.optimus-dropdown {
  background-color: #fff;
  color: #aaa;
  height: 40px;
  width: 100%;
  border: 0;
  padding: 12px;
}

.optimus-dropdown-filled {
  color: #000 !important;
}

.optimus-textarea {
  resize:none;
}
